---
Language: Cpp
BasedOnStyle: LLVM
# 缩进宽度
IndentWidth: 4
# 使用空格进行缩进
UseTab: Never
# 访问修饰符（public、private等）的缩进
AccessModifierOffset: -4
# 命名空间内的缩进
NamespaceIndentation: All
# 指针和引用的对齐方式
PointerAlignment: Left
# 大括号换行风格
BreakBeforeBraces: Allman
# 允许短的if语句保持在同一行
AllowShortIfStatementsOnASingleLine: false
# 允许短的循环保持在同一行
AllowShortLoopsOnASingleLine: false
# 允许短的函数保持在同一行
AllowShortFunctionsOnASingleLine: Empty
# 构造函数初始化列表格式
BreakConstructorInitializersBeforeComma: true
# 每行字符的限制
ColumnLimit: 100
# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments: true
# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations: true
# 对齐连续的尾随注释
AlignTrailingComments: true
# 允许函数声明的所有参数在放在下一行
AllowAllParametersOfDeclarationOnNextLine: true
# 允许短的case标签放在同一行
AllowShortCaseLabelsOnASingleLine: false
# 二元运算符前换行
BreakBeforeBinaryOperators: None
# 在三元运算符前换行
BreakBeforeTernaryOperators: true
# 在构造函数的初始化列表的逗号前换行
BreakConstructorInitializersBeforeComma: true
# 每行最大的空行数量
MaxEmptyLinesToKeep: 2
# 在空的圆括号中添加空格
SpaceInEmptyParentheses: false
# 在尾随的评论前添加的空格数
SpacesBeforeTrailingComments: 1
# 在尖括号的<后和>前添加空格
SpacesInAngles: false
# 在容器(ObjC和JavaScript的数组和字典等)字面量中添加空格
SpacesInContainerLiterals: false
# 在C风格类型转换的括号中添加空格
SpacesInCStyleCastParentheses: false
# 在圆括号的(后和)前添加空格
SpacesInParentheses: false
# 在方括号的[后和]前添加空格，lamda表达式和未指明大小的数组的声明不受影响
SpacesInSquareBrackets: false
# 标准
Standard: Cpp11
# 缩进case标签
IndentCaseLabels: true
--- 